
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
  padding:0;
  margin:0;
  outline:none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body{
  background:#E5E6F0;
  -webkit-font-smoothing:antialiased;
  font-size:16px;
}

body, input, button{
  font-family: 'Roboto',
  sans-serif;
}